# Xilinx ISE files
obj_dir/
isim/
_xmsgs/
_ngo/
iseconfig/
tmp/
xst/
top_*
impact*
rgbds/

*.sav
sim/bootrom.mif
roms/tests/*.gb
roms/tests/*.map
roms/*.gb
roms/*.obj
roms/*.mif
roms/*.sym

sim/.actual
sim/audio.wav
sim/*.txt
sim/*.gb
sim/*.gbc
sim/*.sav



